In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

grades = [88, np.NaN, 100, 92, None, 95, 82, 100, 100, 95]
grade_series = pd.Series(grades)

grades = [88, np.NaN, 100, 92, None, 95, 82, 100, 100, 95]
students = ['dmac', 'edev', 'joeb', 'tdog', 'txroy', 'sthicks', 'jfrerk', 'spickard', 'choenes', 'jsisson']
student_grades_series = pd.Series(grades, students)

df_people = pd.read_csv('files/people_data.csv')
small_df = df_people.iloc[:10,:].copy()
df_super = pd.read_csv('files/supermarket_sales.csv')

pd.set_option('display.max_rows', 200)
pd.set_option('display.min_rows', 10)
pd.set_option('display.max_columns', 50)

In [8]:
!conda list | grep pandas

pandas                    1.5.3           py310h1128e8f_0

In [9]:
df_super.groupby('Gender').agg(Avg_Price=('Unit price','mean'), Num_Items=('Quantity','count'))

        Avg_Price  Num_Items
Gender
Female  55.263952        501
Male    56.081944        499

In [10]:
df_super.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [11]:
df_super.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [13]:
df_super.corr(method='pearson', min_periods=1, numeric_only=True)

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
Unit price,1.000000,0.010778,0.633962,0.633962,0.633962,NaN,0.633962,-0.008778
Quantity,0.010778,1.000000,0.705510,0.705510,0.705510,NaN,0.705510,-0.015815
Tax 5%,0.633962,0.705510,1.000000,1.000000,1.000000,NaN,1.000000,-0.036442
Total,0.633962,0.705510,1.000000,1.000000,1.000000,NaN,1.000000,-0.036442
cogs,0.633962,0.705510,1.000000,1.000000,1.000000,NaN,1.000000,-0.036442
gross margin percentage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gross income,0.633962,0.705510,1.000000,1.000000,1.000000,NaN,1.000000,-0.036442
Rating,-0.008778,-0.015815,-0.036442,-0.036442,-0.036442,NaN,-0.036442,1.000000

In [21]:
df_super.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross_income',
       'Rating'],
      dtype='object')

In [20]:
df_super = df_super.rename(columns={'gross income':'gross_income'})

In [22]:
from statsmodels.formula.api import ols

fit = ols('gross_income ~ C(Gender)', data=df_super).fit() 

fit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           gross_income   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     2.446
Date:                Mon, 01 Jan 2024   Prob (F-statistic):              0.118
Time:                        10:05:21   Log-Likelihood:                -3877.6
No. Observations:                1000   AIC:                             7759.
Df Residuals:                     998   BIC:                             7769.
Df Model:                           1
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept            15.9569      0.523     30.526      0.000      14.931      16.983
C(Gender)[T.Male]    -1.1574      0.740     -1.564      0.118      -2.610       0.295
==============================================================================
Omnibus:                      101.103   Durbin-Watson:                   1.930
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              132.328
Skew:                           0.890   Prob(JB):                     1.84e-29
Kurtosis:                       2.918   Cond. No.                         2.62
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""